<div class="about d-flex justify-content-center align-items-center text-white ">
  <div class="container">
    <div class="text-center">
      <h1 class="">ABOUT COMPONENT </h1>
      <hr class="w-50 mx-auto">
      <div class="row px-5 justify-content-center g-3 text-start">
        <div class="col-md-6 ps-md-5">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including
            HTML,
            CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
          </p>
        </div>
        <div class="col-md-6 pe-md-5">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including
            HTML,
            CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
