.navbar {
  background-color: #2C3E50  !important;
  height: 100px;

}
.navbar .navbar-brand {

  font-size: 32px;

}

.navbar a {
  font-weight: 700;
  color: #fff;

}

.effect{
 border-radius: 10px;
 background-color: #1ABC9C;
}

