<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top tt  ">
  <div class="container  ">
    <a class="navbar-brand" href="#">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-end  " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="effect" routerLink="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="effect" routerLink="portfolio">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="effect" routerLink="contact">CONTACT</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
