<div class="contact ">
  <div class="container">
    <div class="row d-flex flex-column justify-content-center align-items-center">

      <div class="col-md-6 mb-4">

        <h1 class="text-center">CONATCT SECTION</h1>
        <hr >

      </div>


      <div class="col-md-9">

        <form >
          <input type="text" placeholder="username" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched my-4">
          <input type="text" placeholder="userage" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched my-4">
          <input type="email" placeholder="useremail" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched my-4">
          <input type="password" placeholder="userpassword" class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched my-4">

          <button _ngcontent-nsh-c16="" class="btn mt-4 text-white my-4" style="background-color: #1abc9c;"> send Message </button>
        </form>

      </div>






    </div>
  </div>
</div>
