<div class="image-model">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 mx-auto card m-1">

        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">


                <img src="./assets/images/1.jpg" class="w-100">
              </div>


          </div>
        </div>

        <div class="img-hover">

        <button class="btn btn-cud w-100 p-0 " data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
          <img src="./assets/images/1.jpg" class="w-100"></button>

        </div>


      </div>



      <div class="col-md-4 col-sm-6 mx-auto card m-1">

        <div class="modal fade" id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">


                <img src="./assets/images/2.jpg" class="w-100">
              </div>


          </div>
        </div>


        <button class="btn btn-cud w-100 p-0 " data-bs-target="#exampleModalToggle1" data-bs-toggle="modal">
           <img src="./assets/images/2.jpg" class="w-100"></button>

      </div>



      <div class="col-md-4 col-sm-6 mx-auto card m-1">

        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">


                <img src="./assets/images/3.jpg" class="w-100">
              </div>


          </div>
        </div>


        <button class="btn btn-cud w-100 p-0 " data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
           <img src="./assets/images/3.jpg" class="w-100"></button>

      </div>


      <div class="col-md-4 col-sm-6 mx-auto card m-1">

        <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">


                <img src="./assets/images/1.jpg" class="w-100">
              </div>


          </div>
        </div>


        <button class="btn btn-cud w-100 p-0 " data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">
           <img src="./assets/images/1.jpg" class="w-100"></button>

      </div>



      <div class="col-md-4 col-sm-6 mx-auto card m-1">

        <div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">


                <img src="./assets/images/2.jpg" class="w-100">
              </div>


          </div>
        </div>


        <button class="btn btn-cud w-100 p-0 " data-bs-target="#exampleModalToggle4" data-bs-toggle="modal">
           <img src="./assets/images/2.jpg" class="w-100"></button>

      </div>



      <div class="col-md-4 col-sm-6 mx-auto card m-1">

        <div class="modal fade" id="exampleModalToggle5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">


                <img src="./assets/images/3.jpg" class="w-100">
              </div>


          </div>
        </div>


        <button class="btn btn-cud  p-0 " data-bs-target="#exampleModalToggle5" data-bs-toggle="modal">
           <img src="./assets/images/3.jpg" class="w-100"></button>

      </div>






    </div>
  </div>
</div>
